@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* My code */
h1,h2,h3,h4,h5,h6,p,a,span,div,li,ul,ol,button,input,textarea{
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
    height: 100%;
}



body .background .glassmorphism {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.8px);
    -webkit-backdrop-filter: blur(17.8px);
}

body main{
    z-index: 1;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height : auto;
    min-height: 10%;
    max-height: 80%;
    margin: auto;
    border-radius: 16px;
    border: 1px solid #48abe0;
    padding: 2em;
    box-shadow: 0 0 50px 30px #48abe0;
    background: rgba(72, 171, 224, 0.65);
    border-radius: 16px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(72, 171, 224, 0.46);
    
}

body main .left{
    
    width: 50%;
    height: auto;
    min-height: auto;
    padding-right: 0.5em;
    
}
body main .right{
    width: 50%;
    height: auto;
    padding-left: 0.5em;
    
}

body main .right::-webkit-scrollbar {
    width: 8px;
}

body main .right::-webkit-scrollbar-track {
    background: transparent;
}

body main .right::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
    border: 3px solid transparent;
    opacity: 0.2;
}

body main .left .avatar{
    width: auto;
    padding: 0em 5em;
}
body main .left .avatar img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
.purple{
    color: purple;
}
.pink{
    color: pink;
}
.black{
    color: black;
}


main .left .about-me h1{
    color: white;
    font-size: 2em;
}
main .left .about-me p{
    color: whitesmoke;
    font-size: 1.25em;
}
main .left .about-me p:first-of-type{
    margin-top: 1em;
}

main .left .link{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
main .left .link a:first-of-type{
    margin-top: 1.5em;
}
main .left .link a:last-of-type{
    margin-bottom: 1.5em;
}
main .left .link a{
    padding: 0.25em 0;
    padding-left: 1em;
    font-size: 1.25em;
}
main .left .link a i{
    margin-right: 0.5em;
    height: 1.25em;
    width: 1.25em;
}

main .left a {    
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
    text-decoration: none;
}
main .left a:hover {
    box-shadow: inset 1200px 0 0 0 #54b3d6;
    color: white;
}
main .right h1{
    color: white;
    font-size: 2em;
}

main .right h3{
    color: white;
    font-size: 1.5em;
    padding: 0.80em 0;
}
main .right img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}
body .background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body .background .video {
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body .background .video video {
    max-height: 100%;
    width: auto;
    object-fit: center;
    position: absolute; 
}
@media screen and (max-width: 1000px){
    body main{
        flex-direction: column;
        justify-content: left;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    body main .left .avatar{
        padding: 0 2em;
    }
    body main::-webkit-scrollbar {
        width: 8px;
    }
    
    body main::-webkit-scrollbar-track {
        background: transparent;
    }
    
    body main::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 10px;
        border: 3px solid transparent;
        opacity: 0.2;
    }
    
    body main .left{
        width: 100%;

    }
    body main .right{
        width: 100%;
    }
}


@media screen and (min-width: 1001px){
    body main .right{
        overflow-y:scroll;
        overflow-x:hidden;
    }   
}


